backend/.env
langgraph_agent/.env
backend/benv/*
datascience_engine/ds_env/
frontend/webapp/node_modules/
langgraph_agent/langgraph_env/
.python-version
backend/db.sqlite3

.pyc
langgraph_agent/__pycache__
datascience_engine/__pycache__
frontend/webapp/public

backend/.backend_venv
backend/backend_venv
langgraph_agent/langgraph_env
frontend/react_dashboard/node_modules
backend/django_api/__pycache__
backend/ingestion/__pycache__
backend/modeling/__pycache__
backend/modeling/migrations/__pycache__
backend/reporting/__pycache__
backend/users/__pycache__
backend/ingestion/migrations/__pycache__


backend/preprocessing/__pycache__
backend/preprocessing/migrations/__pycache__
backend/reporting/migrations/__pycache__

backend/models
backend/media/datasets